/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";
html{
    scroll-behavior: smooth;
}
body {
  height: 100%;
}

@media all and (-ms-high-contrast:none)
     {
    .form-control{
      padding: 0.50rem .75rem !important;
    }
     }

     .ng-select .ng-select-container {
      color: #333;
      background-color: #f6f6f6;
      border-radius: 0px;
      border: none;
      min-height: 36px;
      -webkit-box-align: center;
      align-items: center;
      &:focus{
        border: 1px solid #ccc;
      }
  } 
  .plus-btn {
    margin-right: 15px;
    position: relative;
    // top: 3px;
    // padding-top: 7px;
  }
  
  .accordion:after {
    content: "" !important;
    color: #777;
    float: right;
    margin-left: 5px;
    position: absolute;
    right: 32px;
    top: 17px;
  }
.row{
    margin: 0px;
    padding: 0px;
}
.cursor{
  cursor:pointer !important;
}
.btn-dark {
  color: #fff;
  background-color: #1f2326;
  border-color: #1f2326;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0 !important;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop .show {
  opacity: .5;
  z-index: 1 !important;
}
a{
  font-family: 'quasimodalight';
}
body {
     font-style: normal;
    // font-weight: 600;
    letter-spacing: 0.5px;
    overflow-x: hidden;
    background: white !important;
    // font-family: 'quasimodablack';
    // font-family: 'quasimodamedium';
    font-family: 'quasimodalight';

  }
  h1, h2, h3, h4,h5{
    font-style: normal;
    font-family: 'timelessregular';
  }

  .medium-toolbar-arrow-under:after {
    border-width: 0px 0px 0 !important;
}
.medium-editor-toolbar-form a {
  color: #1b7f6b !important;
  display: inline-block;
  font-size: 24px;
  font-weight: bolder;
  margin: 0 10px;
  text-decoration: none;
}
.medium-editor-insert-plugin .medium-insert-buttons .medium-insert-buttons-show span { 
  color: #1b7f6b;
}
.medium-editor-insert-plugin .medium-insert-buttons button {
  color: #1b7f6b; 
 }
 .medium-editor-toolbar li button { 
  background-color: #f6f6f6 !important;
}
.medium-editor-insert-plugin .medium-insert-buttons button { 
  border: 1px solid #359282 !important;
}
@font-face {
  font-family: 'timelessregular';
  src: url('https://imagecloude.s3.amazonaws.com/font/timeless/timeless-webfont.woff2') format('woff2'),
       url('https://imagecloude.s3.amazonaws.com/fonts/timeless/timeless-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'timelessbold';
  src: url('https://imagecloude.s3.amazonaws.com/font/timeless/timeless-bold-webfont.woff2') format('woff2'),
       url('https://imagecloude.s3.amazonaws.com/font/timeless/timeless-webfont.woff') format('woff');
  // src: url('./assets/fonts/Timeless/timeless-bold-webfont.woff2') format('woff2'),
  //      url('./assets/fonts/Timeless/timeless-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
  @font-face {
    font-family: 'quasimodalight';
    src: url('https://imagecloude.s3.amazonaws.com/quasimoda/quasimoda_light-webfont.woff') format('woff2'),
         url('https://imagecloude.s3.amazonaws.com/quasimoda/quasimoda_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'quasimodablack';
  src: url('https://imagecloude.s3.amazonaws.com/quasimoda/quasimoda_black-webfont.woff2') format('woff2'),
       url('https://imagecloude.s3.amazonaws.com/quasimoda/quasimoda_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'quasimodathin';
  src: url('https://imagecloude.s3.amazonaws.com/quasimoda/quasimoda_thin-webfont.woff2') format('woff2'),
       url('https://imagecloude.s3.amazonaws.com/quasimoda/quasimoda_thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
} 


@font-face {
  font-family: 'quasimodasemibold';
  src: url('https://imagecloude.s3.amazonaws.com/quasimoda/quasimoda_bold-webfont.woff2') format('woff2'),
       url('https://imagecloude.s3.amazonaws.com/quasimoda/quasimoda_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

} 
// @font-face {
//   font-family: 'quasimodabold';
//   src: url('quasimoda_bold-webfont.woff2') format('woff2'),
//        url('quasimoda_bold-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }

// @font-face {
//   font-family: 'quasimodathin';
//   src: url('./assets/fonts/webfontkit-20200324-015946/quasimoda_thin-webfont.woff2') format('woff2'),
//        url('./assets/fonts/webfontkit-20200324-015946/quasimoda_thin-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// } 
// @font-face {
//     font-family: 'quasimodamedium';
//     src: url('./assets/fonts/webfontkit-20200324-015946/quasimoda_medium-webfont.woff2') format('woff2'),
//          url('./assets/fonts/webfontkit-20200324-015946/quasimoda_medium-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }
 
// @font-face {
//     font-family: 'quasimodaregular';
//     src: url('./assets/fonts/webfontkit-20200324-015946/quasimoda_regular-webfont.woff2') format('woff2'),
//          url('./assets/fonts/webfontkit-20200324-015946/quasimoda_regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;

// }
// @font-face {
//   font-family: 'quasimodablack';
//   src: url('./assets/fonts/webfontkit-20200324-015946/quasimoda_black-webfont.woff2') format('woff2'),
//        url('./assets/fonts/webfontkit-20200324-015946/quasimoda_black-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }
  
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ng-dropdown-panel .scroll-host {
  overflow: hidden;
  overflow-y: auto !important;
  max-height: 139px !important;
  position: relative;
  display: block;
  -webkit-overflow-scrolling: touch;
}

$bg-theme:  #F6FCFB;
// $bg-theme:  #fff;
@import 'assets/styles/home.scss';
@import 'assets/styles/footer.scss';
@import 'assets/styles/itjstudio.scss';


