


.c-form  {
    max-width: 450px;
    // margin: 0px auto;
}
.text_align{
    float: right;
    text-align: right;
}
@media (max-width:600px){
    .text_align{
        float: left;
        text-align: left;
    }
}