
.paddtop{
  padding-top: 80px;
}
.side-space {
  max-width: 320px;
  margin: 0px auto !important;
}
.active-left {
  background: #A4CCC5 !important;
  border-radius: 19px 0px 0px 20px !important;
}

.active-right {
  background: #A4CCC5 !important;
  border-radius: 0px 20px 20px 0px !important;
}

.toggle-btn {
  border: 1px solid #A4CCC5;
  border-radius: 40px;
  text-align: center;
  width: 124px;
  margin: 0px auto;

  button {
    padding: 4px 15px;
    border: none;
    background: transparent;

    &:focus {
      outline: none;
    }
  }
}
.text_right{
  float: right;
  text-align: right;
}

.lang_width{
  width: 100%;
}
.menu-opt {
  float: right;
  list-style: none;
  display: inline-flex;
  padding-top: 15px;
  margin-bottom: 0px;
  ul {
    padding: 0px;
  }

  li {
    margin: 0px 15px;
    cursor: pointer;
  }
}

.m-width {
  max-width: 320px; 
  margin: 0px auto !important;
  text-align: center !important;
  
}
.ml20{
  margin-left: 20%;
}
.t-show {
  width: 80px;
  float: left;
  list-style: none;
}

.t-center {
  max-width: 500px;
  margin: 0px auto;
  // display: inline-block;
}

.btn-round {
  margin-top: 25px;
  border-radius: 40px;
  padding: 5px 27px;
  // min-width: 120px;
}

.process {
  width: 18%;
  float: left;
  margin: 1%;
}

.s-description {
  max-width: 250px;
  margin: 0px auto;
}
.p_4{
  padding: 1.5rem !important
}
.bg-theme {
  background: $bg-theme;
  min-height: 382px;
}
.bg_mob_img {
  background: $bg-theme;
  min-height: 400px;
}
.m-wide {
  max-width: 100px;
  margin: 5px auto;
  min-height: 47px;
}

.mtech-wide {
  // width: 202px;
  width: 160px;
  margin: 10px auto;
}

// .side-margin {
//   margin: 10px 5%;
// }

.show-width {
  margin: 15px auto;
}

.pro-height {
  min-height: 336px;
}

.fix-bottom {
  position: absolute;
  bottom: 15px; 
  left: 35%; 
}

.f-links {
  color: black;

  &:hover {
    text-decoration: none;
    color: black;
    // font-weight: 600;
  }
}
.fix-img {
  width: 138px;
  text-align: center;
  margin: 0px auto;
  border: 2px solid #d4d3d3;
  border-radius: 50%;
  outline: none;
  padding: 3% 7% !important;
  min-height: 138px;
}
.paragraph-13 {
  font-size: 13px;
}
@media (max-width: 600px) {
  .header {
    padding-top: 8px;
     height: 68px
  }
  .p_4{
    padding: 0.5rem !important
}
  .ml20{
    margin-left: 15px;
  }
  .paddtop {
    padding-top: 12px;
}
  .fix-bottom { 
    // margin: 0px auto;
    left: 32%;
    //  right: 0;
  }
  .text_right{
    float: left;
    text-align: right;
  }
  .menu-opt { 
      
      padding-top: 18px;
    li {
      margin: 0px 5px;
    }
  }

  .process {
    width: 100%;
    float: left;
  }

  .side-margin {
    margin: 0px;
  }

  .bg-theme {
    min-height: 320px;
  }

 
}
@media (min-width:1500px){
  .max_width{
    max-width: 1199px;
    margin: 0px auto;
  }
}
