.left_column {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0;
  overflow: auto;
  background: white;
  // z-index: 9;
  max-width: 310px;
  padding: 0 15px 15px 40px;
}

.right_column {
  padding-left: 310px;
  min-height: 100vh;
}


.main_text {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

.textcolor {
  color: #0c0c0c;
}

.main_cate {
  font-size: 22px;
  color: black;
  letter-spacing: 1px;
  text-transform: capitalize;

}

.sublist:hover .cross {
  display: block;
}

.li_list:hover .f_13 {
  display: block;
}

.li_list {
  font-size: 16px;
  color: #000000;
  font-weight: lighter;
  letter-spacing: 1px;
  cursor: pointer;

}

.sublist {
  font-size: 16px;
  color: #000;
  letter-spacing: 1px;
  font-weight: lighter;
  margin-bottom: 10px;
  cursor: pointer;
}

.bord_bottom {
  border-bottom: 1px solid #000;
  margin-bottom: 22px;
  width: 40%;
}

.w_50 {
  width: 30%;
}

.f_23 {
  font-size: 23px;
  padding-right: 10px;
}

.bg_color {
  background: $bg-theme;
}

// .left_column {
//   // -ms-flex: 25%;
//   // flex: 25%;
//   // max-width: 25%;
//   -ms-flex: 240px;
//   flex: 240px;
//   max-width: 240px;
//   padding: 0 15px;
// }

#heigtt_iframe {
  height: 420px;
}

.transperant_div {
  z-index: 9;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: transparent;
  // border: 1px solid #ccc;
}

.nofocus {
  box-shadow: none !important;
  outline: none !important;
}

.margin_top {
  margin-top: 40px;
}

// .right_column {
//   // -ms-flex: 75%;
//   // flex: 75%;
//   // max-width: 75%;
//   -ms-flex: calc(100% - 240px);
//   flex: 100%;
//   max-width: calc(100% - 240px);
//   padding: 0 15px;
// }

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 36%;
  flex: 36%;
  max-width: 36%;
  padding: 0 4px;
}

.menu {
  float: left;
  cursor: pointer;

  div {
    width: 25px;
    height: 2px;
    background-color: black;
    margin: 6px 0;
  }
}

.menu_bar {
  float: left;
  cursor: pointer;
  position: relative;
  top: 10px;
}

.pos {
  position: relative;
}

.pos:hover .img_cross {
  display: block;
  z-index: 9;
}

.column_video {
  -ms-flex: 50%;
  flex: 50%;
  max-width: 50%;
  padding: 0 5px;
  list-style-type: none;
}

.cross {
  position: relative;
  top: 10px;
  display: none;
}

.f_13 {
  font-size: 13px;
  position: relative;
  top: 6px;
  display: none;

}

.img_cross {
  display: none;
  border-radius: 50%;
    position: absolute;
    top: -8px;
    right: -8px;
    // top: -14px;
    // right: 2px;
    background: #e5e5e5;
    color: #000;
    width: 30px;
    padding: 7px;
    text-align: center;
    height: 30px;

}

.column2 {
  -ms-flex: 28%;
  flex: 28%;
  max-width: 28%;
  padding: 0 4px;
  list-style-type: none;
}

.column_video video {
  margin-top: 10px;
  border: 1px solid #e1e1e1;
  vertical-align: middle;
  width: 100%;
}

.column img,
.column2 img {
  border: 1px solid #e1e1e1;
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}


.abs_foo {
  position: relative;
  margin-top: 32px;

  div {
    li {
      font-family: qusimodaThin !important;

      span {
        a {
          color: #000;
          text-decoration: none !important;
          font-family: qusimodaThin !important;
        }

        transition: 0.5s;

        &:hover {
          border-bottom: 1px solid;
        }
      }
    }
  }
}

.btn_bg {
  background-color: #1b806b;
  color: #fff;
}

// .abs_foo div li span:hover {
//   border-bottom: 1px solid;
// }
.back {
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 28;
  color: #fff;
  cursor: pointer;
}

.contact_div {
  // display: none;
  visibility: hidden;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 99999;
  background: #0909098c;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.contact {
  width: 35%;
  position: relative;
  background: #fff;
  padding: 30px;
}

.cross_icon {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.back_color {
  background: transparent;
}






// @media (min-width:1400px){ 
//   .right_column {
//     // -ms-flex: 75%;
//     // flex: 75%;
//     // max-width: 75%;
//     -ms-flex: calc(100% - 310px);
//     flex: 100%;
//     max-width: calc(100% - 310px);
//     padding: 0 15px;
//   }
//   .left_column {
//     // -ms-flex: 25%;
//     // flex: 25%;
//     // max-width: 25%;
//     -ms-flex: 310px;
//     flex: 310px;
//     max-width: 310px;
//     padding: 0 15px;
//   }

// }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .modal-backdrop {
    z-index: 1;
  }

  .column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
  }

  .cross {
    display: block;
    margin-right: 10px;
  }

  .f_13 {
    right: 10px;
    font-size: 12px;
    display: block;

  }


  .column2 {
    -ms-flex: 33%;
    /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }

  // .left_column {
  //   -ms-flex: 30%;
  //   /* IE10 */
  //   flex: 30%;
  //   max-width: 30%;
  //   padding: 0 15px;
  // }

  // .right_column {
  //   -ms-flex: 70%;
  //   /* IE10 */
  //   flex: 70%;
  //   max-width: 70%;
  //   padding: 0 15px;
  // }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .right_column {
    padding-left: 15px;
  }

  .contact {
    width: 90%;
    background: #fff;
    padding: 10px;
    position: relative;
  }

  .back {
    top: 5px;
    left: 15px;
    font-size: 16px;

  }

  .form-group {
    margin-bottom: 0px;
  }

  .img_cross {
    display: block;
    top: -8px;
    right: -8px;
    // top: -6px;
    // right: -6px;
    width: 20px;
    padding: 4px;
    font-size: 11px;
    height: 20px;
  }

  .w_50 {
    width: 90%;
  }

  h3 {
    font-size: 20px;
  }

  #heigtt_iframe {
    height: 250px;
  }

  // .left_column {
  //   -ms-flex: 100%;
  //   flex: 100%;
  //   max-width: 100%;
  //   padding: 0 15px;
  // }

  // .right_column {
  //   -ms-flex: 100%;
  //   flex: 100%;
  //   max-width: 100%;
  //   padding: 0 15px;
  //   min-height: 250px;
  // }

  .column {
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
  }

  .column2 {
    -ms-flex: 33%;
    /* IE10 */
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
  }
}

@media (min-width:1500px) {
  #heigtt_iframe {
    height: 690px;
  }
}
